<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% if (htmlWebpackPlugin.options.appMountId) { %>
  <div
    id="<%= htmlWebpackPlugin.options.appMountId%>"
    data-app-version="<%= htmlWebpackPlugin.options.version %>"
  >
    <div class="layout">
      <header class="main">
        <h1>Monod <small>The Markdown Editor</small></h1>
      </header>
      <div class="editor">
        <div class="markdown"></div>
        <div class="vertical-handler">
          <div class="left" ><i class="fa fa-chevron-left"></i></div>
          <div class="right"><i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="preview"></div>
      </div>
      <footer class="main">
        <div class="credits">
          By the good folks at TailorDev, 2017.
        </div>
      </footer>
    </div>
  </div>
<% } %>
<script>
    //<![CDATA[
    console.log(
        '%cHo Hai! Interested in internals?',
        'background: #1abc9c; color: #2e354f; font-size: x-large; padding: 5px'
    );
    console.log(
        '%cPlease, visit: https://github.com/TailorDev.',
        'color: #2e354f; font-size: large'
    );
    //]]>
</script>
</body>
</html>
