/*
 * Header component
 */

header.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: $primary-color;

  h1 {
    flex: 1;
    padding: 0 1rem;
    color: $white;
    overflow-x: hidden;
    white-space: nowrap;

    small {
      color: darken($primary-color, 10%);
      text-overflow: ellipsis;
    }
  }
}
